<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>New User</title>
</head>
<body>
<br/>
<div>
    <h2>New User</h2>
    <form th:method="POST" th:action="@{/}" th:object="${user}">

        <label for="name">Enter name</label>
        <input type="text" th:field="*{name}" id="name">

        <label for="lastName">Enter lastName</label>
        <input type="text" th:field="*{lastName}" id="surname">

        <label for="age">Enter Age</label>
        <input type="number" th:field="*{age}" id="age">
        <br/>
        <br/>
        <input type="submit" value="create"/>
    </form>
</div>
</body>
</html>
