<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <title>Edit User</title>
</head>
<body>
<br/> <br/>


<div>

    <h3> Edit User </h3>

    <form th:method="PATCH" th:action="@{/{id}(id=${user.getId()})}" th:object="${user}">
        <label for="name">Enter name</label>
        <input type="text" th:field="*{name}" id="name">

        <label for="surname">Enter lastName </label>
        <input type="text" th:field="*{lastName}" id="surname">

        <label for="age">Enter Age </label>
        <input type="number" th:field="*{age}" id="age">
        <br/>
        <br/>
        <input type="submit" value="update"/>
    </form>
</div>

</body>
</html>